{% macro about() %}
<div class="section center logo-section" id="about">
    <div class="row">
        <div class="col-md-5 about-title">
            <h1 class="section-title">About</h1>
            <hr />

            <div class="about-text">
                <p><u>buildflaskapp</u> is a commandline tool written in Python and made compatible for all Unix and
                    Windows
                    OS. The aim is to generate a minimal Flask application simply by running a command.</p>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <img src="/static/img/logo.gif" height="350px" />
        </div>
    </div>
</div>
{% endmacro %}