{% macro contact() %}
<div class="contact contact-section" id="contact">
    <h1 class="section-title">Contact</h1>
    <div class="row center" style="text-align: center;">
        <div class="col">
            <p>Want to create an issue? <a href="https://github.com/askyourkode/buildflaskapp/issues/new">Click
                    here!</a>
            </p>
            <p>Want to take a look at the pypi project? <a href="https://pypi.org/project/buildflaskapp/">Click
                    here!</a>
            </p>
            <p>Want to take a look at the github repo? <a href="https://github.com/askyourkode/buildflaskapp">Click
                    here!</a>
            </p>
            <img src="/static/img/logo.png" class="contact-section-logo" height="120px">
            <p class="copyright-mark">&copy; Copyright 2020 Build Flask App</p>
        </div>
    </div>
</div>
{% endmacro %}