{% macro examples() %}
<div class="section examples" id="examples">
    <div class="row" style="text-align: center;">
        <div class="col">
            <h1 class="section-title">Examples</h1>
            <hr />
            <a href="https://styln-vib.herokuapp.com/" target="_blank">
                <h1>Styln Vibe</h1>
            </a>
            <a href="https://kouul-pokedex.herokuapp.com/" target="_blank">
                <h1>Pokedex</h1>
            </a>
            <a href="https://kouul.website/" target="_blank">
                <h1>My Portfolio</h1>
            </a>
            <a href="https://kouuls-todo.herokuapp.com/" target="_blank">
                <h1>To-Do list</h1>
            </a>
            <a href="https://resu-maker.herokuapp.com/" target="_blank">
                <h1>Resu-maker</h1>
            </a>
        </div>
    </div>
</div>
{% endmacro %}