{% macro homepage() %}
<div class="section landingPage center" id="landingPage">
    <div class="row">
        <div class="col">
            <h1 class="main-title">Build flask app</h1>
            <p class="title-info">Build a Minimal Flask Application using one command! </p>
            <div class="code-to-run">
                <p class="title-in-terminal"><b>root@70606deb02d7:~</b></p>
                <div class="icon-in-terminal">
                    <i class="fa fa-window-minimize" aria-hidden="true"></i>
                    <i class="fa fa-window-maximize" aria-hidden="true"></i>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p class="termX-build-flask-app"></p>
            </div>
            <br />
            <div class="os-icons">
                <img src="/static/img/linux-logo.png" class="os-logo" height="40px">
                <img src="/static/img/windows-logo.png" class="os-logo" height="40px">
                <img src="/static/img/apple-logo.png" class="os-logo" height="40px">
            </div>
        </div>
    </div>
</div>

{% endmacro %}