{% macro installation() %}
<div class="section installation" id="installation">
    <div class="row">
        <div class="col">
            <h1 class="section-title">Easy to install
                <div class="os-icons">
                    <img src="/static/img/linux-logo.png" height="40px">
                    <img src="/static/img/windows-logo.png" height="40px">
                    <img src="/static/img/apple-logo.png" height="40px">
                </div>
            </h1>
            <hr />
            <div id="accordion">
                <div class="card">
                    <div class="card-header" data-toggle="collapse" data-target="#collapseOne">
                        <h5>
                            <button class="btn btn-link card-title" aria-controls="collapseOne">
                                How to install?<span class="dropdown-fa"><i class="fa fa-angle-down"
                                        aria-hidden="true"></i></span>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body terminal-card">
                            <p>
                                $ pip3 install buildflaskapp
                                <br />
                                $ buildflaskapp --version
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" data-toggle="collapse" data-target="#collapseTwo">
                        <h5>
                            <button class="btn btn-link card-title" aria-controls="collapseTwo">
                                How to uninstall? <span class="dropdown-fa"><i class="fa fa-angle-down"
                                        aria-hidden="true"></i></span>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body terminal-card">
                            <p>
                                $ pip3 uninstall buildflaskapp
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}