<!DOCTYPE html>
<html>

<head>
  <title>Build flask app</title>
  <link rel='stylesheet' href='/static/stylesheet/style.css'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

  <link rel="icon" type="image/png" href="/static/img/favicon.png">

</head>

<a class="github-fork-ribbon right-bottom fixed" href="http://github.com/askyourkode/buildflaskapp" target="_blank"
  data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

{% from './macros/nav.html' import nav %}
{% from './macros/homepage.html' import homepage %}
{% from './macros/about.html' import about %}
{% from './macros/installation.html' import installation %}
{% from './macros/usage.html' import usage %}
{% from './macros/examples.html' import examples %}
{% from './macros/contact.html' import contact %}


<body>
  
  {{ nav() }}
  
  <div class="container">
    {{ homepage() }}
    {{ about() }}
    {{ installation() }}
    {{ usage() }}
    {{ examples() }}
    {{ contact() }}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script src='/static/js/app.js'></script>
  <script src='/static/js/gsap-animations.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>

</html>