<!DOCTYPE html>
<html>

<head>
  <title>Build flask app</title>
  <link rel='stylesheet' href='/static/stylesheet/style.css'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

  <link rel="icon" type="image/png" href="/static/img/logo.png">

</head>

<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-right nav-stacked mr-auto">
      <a href="/">
        <p class="navbar-brand ourBrand">
          <img src="/static/img/logo.png" width="30" height="35" class="d-inline-block align-top brand-logo">
          Build flask app
        </p>
      </a>
    </ul>
    <ul class="nav navbar-right nav-stacked ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/#landingPage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#installation">Installation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#usage">Usage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#examples">Examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<a class="github-fork-ribbon right-bottom fixed" href="http://github.com/askyourkode/build-flask-app" target="_blank"
  data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

<body>

  <div class="container">
    <div class="section landingPage center" id="landingPage">
      <div class="row">
        <div class="col">
          <h1 class="main-title">Build flask app</h1>
          <p class="title-info">Building flask apps has never been this easy! </p>
          <div class="code-to-run">
            <p class="title-in-terminal"><b>root@70606deb02d7:~</b></p>
            <div class="icon-in-terminal">
              <i class="fa fa-window-minimize" aria-hidden="true"></i>
              <i class="fa fa-window-maximize" aria-hidden="true"></i>
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <p class="termX-build-flask-app"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="section logo-section" id="about">
      <h1 class="section-title">About</h1>
      <hr />
      <div class="row">
        <div class="col-md-5 center about-text">
          <p>This project intends to help developers in <span class="about-color-text-1">building</span> the simplest
            <span class="about-color-text-1">hello world skeleton.</span> The generated app will be <span
              class="about-color-text-1">in Flask</span> and all this can be achieved <span
              class="about-color-text-1">with a single command</span>.</p>
          <!-- <p>This open source project intends to help <span class="flask-lover-text">Flask </span>lovers in generating a <span class="hello-world-text">Hello World</span> skeleton using a single command.</p> -->
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <img src="/static/img/logo.png" height="350px" />
        </div>
      </div>
    </div>
    <div class="section installation" id="installation">
      <div class="row">
        <div class="col">
          <h1 class="section-title">Easy to install</h1>
          <hr />
          <div id="accordion">
            <div class="card">
              <div class="card-header" data-toggle="collapse" data-target="#collapseOne">
                <h5>
                  <button class="btn btn-link card-title" aria-controls="collapseOne">
                    Install using pip3 <span class="dropdown-fa"><i class="fa fa-angle-down"
                        aria-hidden="true"></i></span>
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body terminal-card">
                  <p>
                    <h3><u>How to install?</u></h3>
                    $ apt-get install python3-pip
                    <br />
                    $ pip3 install build-flask-app
                    <br />
                    $ build-flask-app --help
                  </p>
                  <p>----------------------------------------------------</p>
                  <p>
                    <h3><u>How to uninstall?</u></h3>
                    $ pip3 uninstall build-flask-app
                  </p>
                  <br />
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo">
                <h5>
                  <button class="btn btn-link card-title" aria-expanded="true" aria-controls="collapseTwo">
                    Install using deb package <span class="dropdown-fa"><i class="fa fa-angle-down"
                        aria-hidden="true"></i></span>
                  </button>
                </h5>
              </div>

              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body terminal-card">
                  <p>Download the deb package <a href="{{ url_for('downloadApp') }}">here</a>
                    <br />
                    <h3><u>How to install?</u></h3>
                    $ sudo dpkg -i build-flask-app_1.0_all.deb
                    <br />
                    $ build-flask-app --help
                  </p>
                  <p>----------------------------------------------------</p>
                  <h3><u>How to uninstall?</u></h3>
                  $ sudo apt-get remove build-flask-app
                  <br />
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseThree">
                <h5>
                  <button class="btn btn-link card-title" aria-expanded="true" aria-controls="collapseThree">
                    Install from source code on Github <span class="dropdown-fa"><i class="fa fa-angle-down"
                        aria-hidden="true"></i></span>
                  </button>
                </h5>
              </div>

              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body terminal-card">
                  <p>
                    $ git clone https://github.com/askyourkode/build-flask-app
                    <br />
                    $ cd build-flask-app
                    <br />
                    $ python3 build-flask-app --help
                  </p>
                  <br />
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="section usage" id="usage">
      <div class="row">
        <div class="col">
          <h1 class="section-title">Easy to use</h1>
          <hr />
          <div class="cdn-options">
            <div class="row">
              <div class="col">
                <div class="custom-control">
                  <input type="checkbox" class="bootstrap-check custom-control-input" onclick="return checkCDN()"
                    id="bootstrap-check">
                  <label class="custom-control-label" for="bootstrap-check">Bootstrap</label>
                </div>
              </div>
              <div class="col">
                <div class="custom-control">
                  <input type="checkbox" class="custom-control-input gsap-check" onclick="return checkCDN()"
                    id="gsap-check">
                  <label class="custom-control-label gsap-check-label" for="gsap-check">Gsap</label>
                </div>
              </div>
              <div class="col">
                <div class="custom-control">
                  <input type="checkbox" class="custom-control-input jquery-check" onclick="return checkCDN()"
                    id="jquery-check">
                  <label class="custom-control-label jquery-check-label" for="jquery-check">jQuery</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="custom-control">
                  <input type="checkbox" class="custom-control-input fontawesome-check" onclick="return checkCDN()"
                    id="fontawesome-check">
                  <label class="custom-control-label fontawesome-check-label"
                    for="fontawesome-check">Font-awesome</label>
                </div>
              </div>
              <div class="col">
                <div class="custom-control">
                  <input type="checkbox" class="custom-control-input docker-check" onclick="return checkCDN()"
                    id="docker-check">
                  <label class="custom-control-label docker-check-label" for="docker-check">Docker</label>
                </div>
              </div>
              <div class="col">
                <div class="custom-control">
                  <input type="checkbox" class="custom-control-input debugger-check" onclick="return checkCDN()"
                    id="debugger-check">
                  <label class="custom-control-label debugger-check-label" for="debugger-check">Debugger</label>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col">
              <div class="terminal-usage">
                <div class="icon-in-terminal">
                  <i class="fa fa-window-minimize" aria-hidden="true"></i>
                  <i class="fa fa-window-maximize" aria-hidden="true"></i>
                  <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p class="terminal-usage-title">root@70606kaf3efi:~</p>
                <p>$ <span class="usage-build-flask-app">build-flask-app hello-world</span></p>
                <p>$ <span class="usage-cd">cd hello-world/ </span></p>
                <p>$ <span class="usage-runApp">python3 app.py</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="section examples" id="examples">
      <div class="row" style="text-align: center;">
        <div class="col">
          <h1 class="section-title">Examples</h1>
          <hr />
          <a href="https://styln-vib.herokuapp.com/" target="_blank">
            <h1>Styln-vibe</h1>
          </a>
          <a href="https://kouul-pokedex.herokuapp.com/" target="_blank">
            <h1>Pokedex</h1>
          </a>
          <a href="https://kouul.website/" target="_blank">
            <h1>My Portfolio</h1>
          </a>
          <a href="https://kouuls-todo.herokuapp.com/" target="_blank">
            <h1>To-Do list</h1>
          </a>
          <a href="https://resu-maker.herokuapp.com/" target="_blank">
            <h1>Resu-maker</h1>
          </a>
        </div>
      </div>
    </div>
    <div class="contact contact-section" id="contact">
      <h1 class="section-title">Contact</h1>
      <div class="row center" style="text-align: center;">
        <div class="col">
          <p>Want to create an issue? <a href="https://github.com/askyourkode/build-flask-app/issues/new">Click
              here!</a>
          </p>
          <p>Want to take a look at the pypi project? <a href="https://pypi.org/project/build-flask-app/">Click
              here!</a>
          </p>
          <p>Want to take a look at the github repo? <a href="https://github.com/askyourkode/build-flask-app">Click
              here!</a>
          </p>
          <p class="copyright-mark">&copy; Copyright 2020 Build Flask App</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script src='/static/js/app.js'></script>
  <script src='/static/js/gsap-animations.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>

</html>